.SmartShop{
    background-image: url("/public/images/background.png");
    height: 100vh;
    width: auto%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
