.App{
    text-align: center;
    height: auto;
    display:flex;
    flex-direction: column;
    font-family: Garamond;
    background-image: url(./images/background.png);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    
}
 
.body{
    padding:0;
    margin: 0;
}
